<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">

<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Administration</h1>
    <ul>
        <li>
            <a th:href="@{/categories}">Catégories</a>
        </li>
    </ul>
    <ul>
        <li>
            <a th:href="@{/aliments}">Fabriques d'aliment</a>
        </li>
    </ul>
    <ul>
        <li>
            <a th:href="@{/souches}">Souches</a>
        </li>
    </ul>
    <ul>
        <li>
            <a th:href="@{/couvoirs}">Fournisseurs de poulettes</a>
        </li>
    </ul>
</section>
</body>
</html>