<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Ajouter Centre</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <a th:href="@{/centres}">Retour à la liste des centres</a>
    <h1>Créer un nouveau centre</h1>
    <form name="form" th:action="@{/addCentre}" th:object="${form}" method="POST">
        <fieldset>
            <legend>Informations</legend>
            <label>Nom*</label>
            <input type="text" class="name" th:field="*{nom}" required>
        </fieldset>
        <fieldset>
            <legend>GPS</legend>
            <label>Latitude</label>
            <input type="text" th:field="*{latitude}">
            <label>Longitude</label>
            <input type="text" th:field="*{longitude}">
        </fieldset>
        <input class="submit" type="submit" value="Créer un nouveau centre">
        <span class="error" th:text></span>
    </form>
</section>
</body>
</html>