<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Catégorie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
<a th:href="@{/categories}">Retour à la liste des catégories</a>
<h1>Créer une nouvelle catégorie</h1>
<form name="form" th:action="@{/addCategorie}" th:object="${form}" method="POST">
    <fieldset>
        <legend>Informations</legend>
        <label>Nom*</label>
        <input type="text" class="name" th:field="*{nom}" required>
    </fieldset>
    <input class="submit" type="submit" value="Créer une nouvelle Catégorie">
    <span class="error" th:text></span>
</form>
</body>
</html>