<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des Catégories</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des Catégories</h1>
    <a th:href="@{/addCategorie}">Ajouter une catégorie</a>
    <div>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Commentaire</th>
                <th>Création</th>
                <th>Dernière Modification</th>
            </tr>
            <tr th:each="categorie : ${categories}">
                <td><a th:href="@{/categorie/{id}(id=${categorie.id})}" th:utext="${categorie.nom}">...</a></td>
                <td th:utext="${categorie.commentaire}">...</td>
                <td th:utext="${categorie.created}">...</td>
                <td th:utext="${categorie.modified}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>