<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Batiment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>
<a th:href="@{/batiments}">Retour à la liste des bâtiments</a>
<h1>Créer un nouveau bâtiment</h1>
<form th:action="@{/addBatiment}" th:object="${form}" method="post" enctype="multipart/form-data">
    <fieldset>
        <input type="hidden" th:value="${form.entrepriseId}" name="entrepriseId">
        <legend>Informations</legend>
        <label>INUAV*</label>
        <input type="text" th:field="*{inuav}">
        <label>Charte sanitaire</label>
        <input type="file" name="docCharte" th:field="*{docCharte}" accept="image/jpeg, image/png, application/pdf">
        <label>Année de signature de la charte</label>
        <input type="number" th:field="*{anneeCharte}">
        <label>Arrivée d'eau</label>
        <input type="text" th:field="*{eau}">
    </fieldset>
    <fieldset>
        <h2>Adresse</h2>
        <label>Rue</label>
        <input type="text" th:field="*{rue}">
        <label>Code Postal</label>
        <input type="text" th:field="*{codePostal}">
        <label>Ville</label>
        <input type="text" th:field="*{ville}">
        <label>Pays</label>
        <input type="text" th:field="*{pays}">
    </fieldset>
    <div>
        <h2>Autres</h2>
        <label>Commentaires</label>
        <input type="text" th:field="*{commentaires}">
    </div>
    <input type="submit" value="Créer">
</form>
</body>
</html>