<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des Bâtiments</title>
 </head>
<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des Bâtiments</h1>
    <div>
        <table border="1">
            <tr>
                <th>INUAV</th>
                <th>Adresse</th>
                <th>Raison Sociale</th>
                <th>Actif</th>
                <th>Archive</th>
                <th>Création</th>
                <th>Dernière Modification</th>
            </tr>
            <tr th:each="batiment : ${batiments}">
                <td><a th:href="@{/batiment/{id}(id=${batiment.id})}" th:utext="${batiment.codeInterne}">...</a></td>
                <td th:utext="${batiment.adresse}">...</td>
                <td th:utext="${batiment.entrepriseNom}">...</td>
                <td th:utext="${batiment.actif}">...</td>
                <td th:utext="${batiment.archive}">...</td>
                <td th:utext="${batiment.created}">...</td>
                <td th:utext="${batiment.modified}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>