<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des Lots</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des Lots</h1>
    <div>
        <table border="1">
            <tr>
                <th>Code Oeufs</th>
                <th>Inuav</th>
                <th>Catégorie</th>
                <th>Couvoir</th>
                <th>Souche</th>
                <th>Aliment</th>
                <th>Nombre de poules<br/>à la mise en place</th>
                <th>Coefficient d'érosion</th>
                <th>Mise en place</th>
                <th>Création</th>
                <th>Dernière modification</th>
            </tr>
            <tr th:each="lot : ${lots}">
                <td><a th:href="@{/lot/{id}(id=${lot.id})}" th:utext="${lot.id}">...</a></td>
                <td th:utext="${lot.inuav}">...</td>
                <td th:utext="${lot.categorie}">...</td>
                <td th:utext="${lot.couvoir}">...</td>
                <td th:utext="${lot.souche}">...</td>
                <td th:utext="${lot.aliment}">...</td>
                <td th:utext="${lot.nbPoulesMEP}">...</td>
                <td th:utext="${lot.coefErosion}">...</td>
                <td th:utext="${lot.mep}">...</td>
                <td th:utext="${lot.created}">...</td>
                <td th:utext="${lot.modified}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>