<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
  <title>Vue Lot</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/view.css}"/>
</head>
<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="row fondblanc main_section">
  <a th:href="@{/lots}">Retour à la liste des lots</a>
  <h1 th:utext="${lot.codeOeuf}">..!..</h1>
  <div class="section-container tabs">
    <section>
      <fieldset class="content">
        <legend class="title">
          <a href="#">Informations</a>
        </legend>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Batiment</label>
          </div>
        </div>
        <div>
          <label class="inline"><a th:utext="${lot.batiment}" th:href="@{/batiment/{id}(id=${lot.batimentId})}">...</a></label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Catégorie</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.categorie}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Couvoir</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.couvoir}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Souche</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.souche}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Usine alimentaire</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.aliment}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Durée théorique de production</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.dureeProdTheorique}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Durée Réelle de production</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.dureeProdReelle}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Nombre de poules<br>à la mise en place</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.nbPoulesMEP}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Fin théorique du lot</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.finLotTheorique}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Coefficient d'érosion</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.coefErosion}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Naissance des poules</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.naissancePoules}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Mise en place</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.mep}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Fin du lot</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.finLot}">...</label>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Dernier Lot ?</label>
          </div>
        </div>
        <div>
          <label class="inline" th:utext="${lot.dernierLot} ? 'OUI' : 'NON'">...</label>
        </div>
      </fieldset>
      <fieldset class="content">
        <legend class="title">
          <a href="#">Autre</a>
        </legend>
        <div class="row collapse">
          <div class = "large-6 columns">
            <label class="inline bold">Création</label>
          </div>
          <div>
            <label class="inline" th:utext="${lot.created}">...</label>
          </div>
        </div>
        <div class="row collapse">
          <div class = "large-6 columns">
            <label class="inline bold">Dernière modification</label>
          </div>
          <div>
            <label class="inline" th:utext="${lot.modified}">...</label>
          </div>
        </div>
        <div class="row collapse">
          <div class = "large-6 columns">
            <label class="inline bold">Commentaires</label>
          </div>
          <div>
            <label class="inline" th:utext="${lot.commentaire}">...</label>
          </div>
        </div>
      </fieldset>
    </section>
  </div>
</section>
</body>
</html>