<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Raison Sociale</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/form.css}">
</head>
<body>
<a th:href="@{/entreprises}">Retour à la liste</a>
<h1>Créer une nouvelle raison sociale</h1>
<form th:action="@{/addEntreprise}" th:object="${form}" method="post">
    <div>
        <h2>Informations</h2>
        <label>Nom*</label>
        <input type="text" th:field="*{nom}">
        <label>EDE*</label>
        <input type="text" th:field="*{ede}">
    </div>
    <div>
        <h2>Contact</h2>
        <label>Email</label>
        <input type="email" th:field="*{mail}">
        <label>Téléphone Fixe</label>
        <input type="text" th:field="*{telFixe}">
        <label>Téléphone Portable</label>
        <input type="text" th:field="*{telPort}">
        <label>Fax</label>
        <input type="text" th:field="*{fax}">
    </div>
    <div>
        <h2>Adresse</h2>
        <label>Rue</label>
        <input type="text" th:field="*{rue}">
        <label>Code Postal</label>
        <input type="text" th:field="*{codePostal}">
        <label>Ville</label>
        <input type="text" th:field="*{ville}">
        <label>Pays</label>
        <input type="text" th:field="*{pays}">
    </div>
    <input type="submit" value="Créer">
</form>
</body>
</html>