<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des Raisons Sociales</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des Raisons Sociales</h1>
    <div>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Ede</th>
                <th>Eleveur</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Téléphone Fixe</th>
                <th>Téléphone Portable</th>
                <th>Fax</th>
                <th>Vétérinaire</th>
                <th>Centre en contrat</th>
                <th>Création</th>
            </tr>
            <tr th:each="entreprise : ${entreprises}">
                <td><a th:href="@{/entreprise/{id}(id=${entreprise.id})}" th:utext="${entreprise.nom}">...</a></td>
                <td th:utext="${entreprise.ede}">...</td>
                <td th:utext="${entreprise.eleveurNom}">...</td>
                <td th:utext="${entreprise.adresse}">...</td>
                <td th:utext="${entreprise.mail}">...</td>
                <td th:utext="${entreprise.telFixe}">...</td>
                <td th:utext="${entreprise.telPort}">...</td>
                <td th:utext="${entreprise.fax}">...</td>
                <td th:utext="${entreprise.veterinaire}">...</td>
                <td th:utext="${entreprise.centre}">...</td>
                <td th:utext="${entreprise.created}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>

</html>