<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des Entreprises</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/topbar.css}">
</head>
<body>
<nav class="topbar">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Eleveurs</a>
        </li>
        <li>
            <a href="#">Raisons Sociales</a>
        </li>
        <li>
            <a href="#">Bâtiments</a>
        </li>
    </ul>
</nav>
<section class="main_section">
    <h1>Liste des Raisons Sociales</h1>
    <a th:href="@{/addEntreprise}">Ajouter une raison sociale</a>
    <div>
        <table border="1">
            <tr>
                <th>Ede</th>
                <th>Nom</th>
                <th>Eleveur</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Téléphone Fixe</th>
                <th>Téléphone Portable</th>
                <th>Fax</th>
                <th>Vétérinaire</th>
                <th>Centre</th>
            </tr>
            <tr th:each="entreprise : ${entreprises}">
                <td><a th:href="@{/entreprise/{id}(id=${entreprise.id})}" th:utext="${entreprise.ede}">...</a></td>
                <td th:utext="${entreprise.nom}">...</td>
                <td th:utext="${entreprise.eleveurNom+' '+entreprise.eleveurPrenom}">...</td>
                <td th:utext="${entreprise.adresse}">...</td>
                <td th:utext="${entreprise.mail}">...</td>
                <td th:utext="${entreprise.telFixe}">...</td>
                <td th:utext="${entreprise.telPort}">...</td>
                <td th:utext="${entreprise.fax}">...</td>
                <td th:utext="${entreprise.veterinaire}">...</td>
                <td th:utext="${entreprise.centre}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>

</html>