<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <meta charset="UTF-8">
    <title>Mise à jour Entreprise</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css"/>
</head>
<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Modifier la raison sociale</h1>
    <form name="modif" th:action="@{/updateEntreprise}" th:object="${modif}" method="PUT">
        <fieldset>
            <legend>Informations</legend>
            <label>Nom</label>
            <input type="text" th:field="*{nom}" required>
            <span class="error" th:text="${error.nom}"></span>
            <label>EDE</label>
            <input type="text" th:field="*{ede}" required>
            <span class="error" th:text="${error.ede}"></span>
            <label>TVA</label>
            <input type="text" th:field="*{tva}">
            <span class="error" th:text="${error.tva}"></span>
            <label>Siret</label>
            <input type="text" th:field="*{siret}">
            <span class="error" th:text="${error.siret}"></span>
            <input type="hidden" th:value="${modif.eleveurId}" name="eleveurId">
        </fieldset>
        <fieldset>
            <legend>Contact</legend>
            <h3>Un champ minimum est requis</h3>
            <span class="error" th:text="${error.contact}"></span>
            <label>Email</label>
            <input type="email" th:field="*{mail}">
            <span class="error" th:text="${error.mail}"></span>
            <label>Téléphone Fixe</label>
            <input type="text" th:field="*{telFixe}">
            <span class="error" th:text="${error.telfixe}"></span>
            <label>Téléphone Portable</label>
            <input type="text" th:field="*{telPort}">
            <span class="error" th:text="${error.telport}"></span>
            <label>Fax</label>
            <input type="text" th:field="*{fax}">
            <span class="error" th:text="${error.fax}"></span>
        </fieldset>
        <fieldset>
            <legend>Adresse</legend>
            <span class="error" th:text="${error.adresse}"></span>
            <label>Rue</label>
            <input type="text" th:field="*{rue}">
            <span class="error" th:text="${error.rue}"></span>
            <label>Code Postal</label>
            <input type="number" th:field="*{codePostal}">
            <span class="error" th:text="${error.codepostal}"></span>
            <label>Ville</label>
            <input type="text" th:field="*{ville}">
            <span class="error" th:text="${error.ville}"></span>
            <label>Pays</label>
            <input type="text" th:field="*{pays}">
            <span class="error" th:text="${error.pays}"></span>
        </fieldset>
        <fieldset>
            <legend>Autres</legend>
            <label>Commentaires</label>
            <input type="text" th:field="*{commentaire}">
        </fieldset>
        <input class="submit" type="submit" value="Modifier">
        <span class="error" th:text="${error.submit}"></span>
        <input class="submit" type="button" th:href="@{/entreprise/{id}(id=${modif.id})}" >
    </form>
</section>
</body>
</html>