<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Ajouter Fabrique d'aliment</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <a th:href="@{/categories}">Retour à la liste des fabriques d'aliments</a>
    <h1>Créer une nouvelle fabrique d'aliments</h1>
    <form name="form" th:action="@{/addAliment}" th:object="${form}" method="POST">
        <fieldset>
            <legend>Informations</legend>
            <label>Nom*</label>
            <input type="text" class="name" th:field="*{nom}" required>
        </fieldset>
        <input class="submit" type="submit" value="Créer une nouvelle fabrique d'aliment">
        <span class="error" th:text></span>
    </form>
</section>
</body>
</html>