<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <!--/*/ <th:block th:insert="fragment/view :: header"></th:block>/*/-->
    <title>Vue Fabrique d'aliments</title>
</head>
<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="row fondblanc main_section">
    <a th:href="@{/aliments}">Retour à la liste des fabriques d'aliments</a>
    <h1 th:utext="${aliment.nom}">..!..</h1>
    <div class="section-container tabs">
        <section>
            <fieldset class="content">
                <legend class="title">
                    <a href="#">Informations</a>
                </legend>
                <div class="row collapse">
                    <div class="large-6 columns">
                        <label class="inline bold">Nom</label>
                    </div>
                </div>
                <div>
                    <label class="inline" th:utext="${aliment.nom}"></label>
                </div>
            </fieldset>
            <fieldset class="content">
                <legend class="title">
                    <a href="#">Autre</a>
                </legend>
                <div class="row collapse">
                    <div class = "large-6 columns">
                        <label class="inline bold">Création</label>
                    </div>
                    <div>
                        <label class="inline" th:utext="${aliment.created}">...</label>
                    </div>
                </div>
                <div class="row collapse">
                    <div class = "large-6 columns">
                        <label class="inline bold">Dernière modification</label>
                    </div>
                    <div>
                        <label class="inline" th:utext="${aliment.modified}">...</label>
                    </div>
                </div>
                <div class="row collapse">
                    <div class = "large-6 columns">
                        <label class="inline bold">Commentaires</label>
                    </div>
                    <div>
                        <label class="inline" th:utext="${aliment.commentaire}">...</label>
                    </div>
                </div>
            </fieldset>
        </section>
    </div>
</section>
</body>
</html>