<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des Fabriques d'aliments</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des Fabriques d'aliments</h1>
    <a th:href="@{/addAliment}">Ajouter une fabrique d'aliments</a>
    <div>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Commentaire</th>
                <th>Dernière Modification</th>
            </tr>
            <tr th:each="aliment : ${aliments}">
                <td><a th:href="@{/aliment/{id}(id=${aliment.id})}" th:utext="${aliment.nom}">...</a></td>
                <td th:utext="${aliment.commentaire}">...</td>
                <td th:utext="${aliment.modified}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>