input[type=text], input[type=number], input[type=email], input[type=file], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form label {
    display: inline-block;
    width: 100px;
}

form div {
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

form label {
    display: block;
    width: 100px;
}

form div,form fieldset {
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 5px;
    display: block;
}

span.error{
    padding-bottom: 10px;
}