<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des souches</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des souches</h1>
    <a th:href="@{/addAliment}">Ajouter une souche</a>
    <div>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Commentaire</th>
                <th>Dernière Modification</th>
            </tr>
            <tr th:each="aliment : ${souches}">
                <td><a th:href="@{/souche/{id}(id=${souche.id})}">...</a></td>
                <td th:utext="${souche.commentaire}">...</td>
                <td th:utext="${souche.modified}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>