<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Eleveur</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/form.css}"/>
</head>
<body>
<a th:href="@{/eleveurList}">Retour à la liste des éleveurs</a>
<h1>Créer un nouvel éleveur</h1>
<form th:action="@{/addEleveur}" th:object="${form}" method="POST">
    <label>Nom*</label>
    <input type="text" th:field="*{nom}">
    <label>Prénom*</label>
    <input type="text" th:field="*{prenom}">
    <label>Email</label>
    <input type="text" th:field="*{mail}">
    <label>Téléphone fixe</label>
    <input type="text" th:field="*{telFixe}">
    <label>Téléphone Portable</label>
    <input type="text" th:field="*{telPort}">
    <label>Fax</label>
    <input type="text" th:field="*{fax}">
    <input type="submit" value="Créer">
</form>
<div th:if="${erreur}" th:utext="${erreur}">
    ...
</div>
</body>
</html>