<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
  <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
  <title>GENESIS</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>GENESIS</h1>
    <h2 th:utext="${message}">..!..</h2>

    <!--

      In Thymeleaf the equivalent of
      JSP's ${pageContext.request.contextPath}/edit.html
      would be @{/edit.html}

      -->
  <ul>
    <li>
      <a th:href="@{/eleveurs}">Liste des éleveurs</a>
    </li>
    <li>
      <a th:href="@{/entreprises}">Liste des entreprises</a>
    </li>
    <li>
      <a th:href="@{/batiments}">Liste des batiments</a>
    </li>
    <li>
      <a th:href="@{/lots}">Liste des lots</a>
    </li>
  </ul>
</section>
</body>

</html>