<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des Fabriques d'aliments</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des Veterinaires</h1>
    <a th:href="@{/addVeterinaire}">Ajouter un Veterinaire</a>
    <div>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Commentaire</th>
                <th>Dernière Modification</th>
            </tr>
            <tr th:each="veterinaire : ${veterinaires}">
                <td><a th:href="@{/veterinaire/{id}(id=${veterinaire.id})}" th:utext="${veterinaire.nom}">...</a></td>
                <td th:utext="${veterinaire.latitude}">...</td>
                <td th:utext="${veterinaire.longitude}">...</td>
                <td th:utext="${veterinaire.commentaire}">...</td>
                <td th:utext="${veterinaire.modified}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>