<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Ajouter Fournisseur de poulettes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <a th:href="@{/categories}">Retour à la liste des fournisseurs de poulettes</a>
    <h1>Créer un nouveau fournisseur de poulettes</h1>
    <form name="form" th:action="@{/addCouvoir}" th:object="${form}" method="POST">
        <fieldset>
            <legend>Informations</legend>
            <label>Nom*</label>
            <input type="text" class="name" th:field="*{nom}" required>
        </fieldset>
        <fieldset>
            <legend>Autres</legend>
            <label>Commentaires</label>
            <input type="text" th:field="*{commentaire}">
        </fieldset>
        <input class="submit" type="submit" value="Créer un nouveau fournisseur de poulettes">
        <span class="error" th:text></span>
    </form>
</section>
</body>
</html>