<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des Fournisseurs de poulettes</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des Fournisseurs de poulettes</h1>
    <a th:href="@{/addCategorie}">Ajouter un Fournisseur de poulettes</a>
    <div>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Commentaire</th>
                <th>Création</th>
                <th>Dernière Modification</th>
            </tr>
            <tr th:each="couvoir : ${couvoirs}">
                <td><a th:href="@{/couvoir/{id}(id=${couvoir.id})}">...</a></td>
                <td th:utext="${couvoir.commentaire}">...</td>
                <td th:utext="${couvoir.created}">...</td>
                <td th:utext="${couvoir.modified}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>