<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Eleveur</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
<a th:href="@{/eleveurs}">Retour à la liste des éleveurs</a>
<h1>Créer un nouvel éleveur</h1>
<form name="form" th:action="@{/addEleveur}" th:object="${form}" method="POST">
    <div>
        <h2>Informations</h2>
        <label>Nom*</label>
        <input type="text" class="name" th:field="*{nom}" required>
        <label>Prénom*</label>
        <input type="text" class="first_name" th:field="*{prenom}" required>
    </div>
    <div>
        <h2>Contact</h2>
        <label>Email</label>
        <input type="email" class="email" th:field="*{mail}">
        <label>Téléphone fixe</label>
        <input type="text" class="tel_fixe" th:field="*{telFixe}">
        <label>Téléphone Portable</label>
        <input type="text" class="tel_port" th:field="*{telPort}">
        <label>Fax</label>
        <input type="text" class="fax" th:field="*{fax}">
    </div>
    <input class="submit" type="submit" value="Créer">
</form>
<div th:if="${erreur}" th:utext="${erreur}">
    ...
</div>
</body>
</html>