<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Vue Eleveur</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/view.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<nav></nav>
<section class="row fondblanc">
  <a th:href="@{/eleveurs}">Retour à la liste des éleveurs</a>
  <h3 th:utext="${eleveur.prenom+' '+eleveur.nom}">..!..</h3>
  <h6>Groupe technique</h6>
  <div class="section-container tabs">
    <section>
      <h5 class="title">
        <a href="#">Informations</a>
      </h5>
      <div class="content">
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Prenom</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.prenom}">..!..</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Nom</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.nom}">..!..</label>
          </div>
        </div>
        <div class="row collapse"></div>
      </div>
      <h5 class="title">
        <a href="#">Contacts</a>
      </h5>
      <div class="content">
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Email</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.mail}">..!..</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Téléphone fixe</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.telFixe}">..!..</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Téléphone Portable</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.telPort}">..!..</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Fax</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.fax}">..!..</label>
          </div>
        </div>
      </div>
      <div class="content">
        <a th:href="@{/addEntreprise/{id}(id=${eleveur.id})}">Ajouter une raison sociale</a>
        <div th:unless="${#lists.isEmpty(entreprises)}">
          <table border="1">
            <tr>
              <th>Ede</th>
              <th>Nom</th>
              <th>Eleveur</th>
              <th>Adresse</th>
              <th>Mail</th>
              <th>Téléphone Fixe</th>
              <th>Téléphone Portable</th>
              <th>Fax</th>
              <th>Vétérinaire</th>
              <th>Centre</th>
            </tr>
            <tr th:each="entreprise : ${entreprises}">
              <td><a th:href="@{/entreprise/{id}(id=${entreprise.id})}" th:utext="${entreprise.ede}">...</a></td>
              <td th:utext="${entreprise.nom}">...</td>
              <td th:utext="${entreprise.eleveurNom}">...</td>
              <td th:utext="${entreprise.adresse}">...</td>
              <td th:utext="${entreprise.mail}">...</td>
              <td th:utext="${entreprise.telFixe}">...</td>
              <td th:utext="${entreprise.telPort}">...</td>
              <td th:utext="${entreprise.fax}">...</td>
              <td th:utext="${entreprise.veterinaire}">...</td>
              <td th:utext="${entreprise.centre}">...</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </div>
</section>
</body>

</html>