<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
  <title>Vue Eleveur</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/view.css}"/>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="row fondblanc main_section">
  <a th:href="@{/eleveurs}">Retour à la liste des éleveurs</a>
  <h1 th:utext="${eleveur.prenom+' '+eleveur.nom}">..!..</h1>
  <h2>Groupe technique</h2>
  <div class="section-container tabs">
    <section>
      <fieldset class="content">
        <legend class="title">
          <a href="#">Informations</a>
        </legend>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Prenom</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.prenom}">..!..</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Nom</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.nom}">..!..</label>
          </div>
        </div>
        <div class="row collapse"></div>
      </fieldset>
      <fieldset class="content">
        <legend class="title">
          <a href="#">Contacts</a>
        </legend>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Email</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.mail}">..!..</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Téléphone fixe</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.telFixe}">..!..</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Téléphone Portable</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.telPort}">..!..</label>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-6 columns">
            <label class="inline bold">Fax</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.fax}">..!..</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="content">
        <legend class="title">
          <a href="#">Autre</a>
        </legend>
        <div class="row collapse">
          <div class = "large-6 columns">
            <label class="inline bold">Création</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.created}">...</label>
          </div>
        </div>
        <div class="row collapse">
          <div class = "large-6 columns">
            <label class="inline bold">Dernière modification</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.modified}">...</label>
          </div>
        </div>
        <div class="row collapse">
          <div class = "large-6 columns">
            <label class="inline bold">Commentaires</label>
          </div>
          <div>
            <label class="inline" th:utext="${eleveur.commentaire}">...</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="content">
        <legend class="title">
          <a href="#">Liste des raisons sociales</a>
        </legend>
        <a th:href="@{/addEntreprise/{id}(id=${eleveur.id})}">Ajouter une raison sociale</a>
        <div th:unless="${#lists.isEmpty(entreprises)}">
          <table border="1">
            <tr>
              <th>Ede</th>
              <th>Nom</th>
              <th>Eleveur</th>
              <th>Adresse</th>
              <th>Mail</th>
              <th>Téléphone Fixe</th>
              <th>Téléphone Portable</th>
              <th>Fax</th>
              <th>Vétérinaire</th>
              <th>Centre</th>
            </tr>
            <tr th:each="entreprise : ${entreprises}">
              <td><a th:href="@{/entreprise/{id}(id=${entreprise.id})}" th:utext="${entreprise.ede}">...</a></td>
              <td th:utext="${entreprise.nom}">...</td>
              <td th:utext="${entreprise.eleveurNom}">...</td>
              <td th:utext="${entreprise.adresse}">...</td>
              <td th:utext="${entreprise.mail}">...</td>
              <td th:utext="${entreprise.telFixe}">...</td>
              <td th:utext="${entreprise.telPort}">...</td>
              <td th:utext="${entreprise.fax}">...</td>
              <td th:utext="${entreprise.veterinaire}">...</td>
              <td th:utext="${entreprise.centre}">...</td>
            </tr>
          </table>
        </div>
      </fieldset>
    </section>
  </div>
</section>
</body>

</html>