<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des Eleveurs</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/topbar.css}">
</head>

<body>
<nav class="topbar">
    <ul>
        <li>
            <a th:href="@{/}">Home</a>
        </li>
        <li>
            <a th:href="@{/eleveurs}">Eleveurs</a>
        </li>
        <li>
            <a th:href="@{/entreprises}">Raisons Sociales</a>
        </li>
        <li>
            <a th:href="@{/batiments}">Bâtiments</a>
        </li>
        <li>
            <a th:href="@{/lots}">Lots</a>
        </li>
    </ul>
</nav>
<section class="main_section">
    <h1>Liste des éleveurs</h1>
    <a th:href="@{/addEleveur}">Ajouter un Eleveur</a>
    <div>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone fixe</th>
                <th>Téléphone Portable</th>
                <th>Fax</th>
            </tr>
            <tr th:each="eleveur : ${eleveurs}">
                <td><a th:href="@{/eleveur/{id}(id=${eleveur.id})}" th:text="${eleveur.nom}+' '+${eleveur.prenom}"></a></td>
                <td th:utext="${eleveur.email}">...</td>
                <td th:utext="${eleveur.telFixe}">...</td>
                <td th:utext="${eleveur.telPort}">...</td>
                <td th:utext="${eleveur.fax}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>

</html>