<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:insert="fragment/fragment :: header"></th:block> /*/-->
    <title>Liste des éleveurs</title>
</head>

<body>
<div th:replace="fragment/fragment :: topbar"></div>
<section class="main_section">
    <h1>Liste des éleveurs</h1>
    <a th:href="@{/addEleveur}">Ajouter un Eleveur</a>
    <div>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone fixe</th>
                <th>Téléphone Portable</th>
                <th>Fax</th>
                <th>Création</th>
            </tr>
            <tr th:each="eleveur : ${eleveurs}">
                <td><a th:href="@{/eleveur/{id}(id=${eleveur.id})}" th:text="${eleveur.nom}+' '+${eleveur.prenom}"></a></td>
                <td th:utext="${eleveur.mail}">...</td>
                <td th:utext="${eleveur.telFixe}">...</td>
                <td th:utext="${eleveur.telPort}">...</td>
                <td th:utext="${eleveur.fax}">...</td>
                <td th:utext="${eleveur.created}">...</td>
            </tr>
        </table>
    </div>
</section>
</body>

</html>